
body
{
	font-family: verdana,sans-serif;
	color: #e3dee4;
	font-size: 65%;
	
	background-color: #240040;
	
	margin: 0px;
	padding: 0px;
	
	border-radius: 20px 20px 20px 20px;
}

#header
{
	display: none;

	background-color: #34005C;
	
	height: auto;
	width: 100%;
	
	border-bottom: 1px solid #171717;
	
	overflow: hidden;
}

#tigris_logo
{
	float: left;
}

.name_info_major
{
	font-size: 3em;
}

.name_info_minor
{
	font-size: 1.2em;
}

#login_dialog
{
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 15%;
	margin-bottom: 0;
	
	width: 20%;
}

#loginform_username,#loginform_password
{
	width: 95%;
}

#loginform_login
{
	float: right;
}

.dashboard_tile
{
	border: 1px solid #101010;
}

.dashboard_tile_header
{
	background-color: #34005C;
	
	margin-bottom: 10px;
}

.dashboard_tile_content
{
	background-color: #280444;
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	
	width: 90%;
	
	overflow: auto;
}


#user_control
{
	float: right;
}

#user_control #user_profpic
{
	float: left;
	
	margin-right: 15px;
}

#user_control #user_profpic img
{
	width: 6em;
	height: 6em;
}

#user_control #user_nameplate
{
	float: right;
}
